<div class="nav nav-pills container-fluid me-0 p-0 justify-content-evenly" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	<div id="bottom-summary-btn" class="outer-btn-img-container-bottom-menu btn-bottom-menu nav-link active d-flex justify-content-center" id="summary" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true" title="Summary">
		<div class="inner-btn-img-container-bottom-menu">
			<div class="img-container-bottommenu">
				<img src="./assets/icons/summary_icon.png" alt="" />
			</div>

			<span class="name-btn-bottom-menu">Summary</span>
		</div>
	</div>
	<div id="board-btn" class="outer-btn-img-container-bottom-menu nav-link d-flex justify-content-center" id="board" data-bs-toggle="pill" data-bs-target="#v-pills-board" type="button" role="tab" aria-controls="v-pills-board" aria-selected="true" title="Board">
		<div class="inner-btn-img-container-bottom-menu">
			<div class="img-container-bottommenu">
				<img src="./assets/icons/board_icon.png" alt="" />
			</div>

			<span class="name-btn-bottom-menu">Board</span>
		</div>
	</div>
	<div id="add-task-btn" class="outer-btn-img-container-bottom-menu nav-link d-flex justify-content-center" id="add-task" data-bs-toggle="pill" data-bs-target="#v-pills-add-task" type="button" role="tab" aria-controls="v-pills-add-task" aria-selected="true" title="Add Task">
		<div class="inner-btn-img-container-bottom-menu">
			<div class="img-container-bottommenu">
				<img class="bottom-addTask-img" src="./assets/icons/add-task_icon.png" alt="" />
			</div>

			<span class="name-btn-bottom-menu">Add Task</span>
		</div>
	</div>
	<div id="contacts-btn" class="outer-btn-img-container-bottom-menu nav-link d-flex justify-content-center" id="contacts" data-bs-toggle="pill" data-bs-target="#v-pills-contacts" type="button" role="tab" aria-controls="v-pills-contacts" aria-selected="true" title="Contacts">
		<div class="inner-btn-img-container-bottom-menu">
			<div class="img-container-bottommenu">
				<img src="./assets/icons/contacts_icon.png" alt="" />
			</div>

			<span class="name-btn-bottom-menu">Contacts</span>
		</div>
	</div>
</div>
