<img class="logo-header" src="./assets/img/logo_join_black.png" alt="" />
<span class="description-header">Kanban Project Management Tool</span>
<div class="btn-group">
	<button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
	<ul class="dropdown-menu dropdown-menu-end">
		<a href="./help.html"
			><li><button id="help-btn" class="dropdown-item" type="button" title="Help Section">Help</button></li></a
		>
		<a href="./legal-notice.html"
			><li>
				<button class="dropdown-item" type="button">Legal notice</button>
			</li>
		</a>

		<a href="./index.html"
			><li>
				<button class="dropdown-item" type="button">Log out</button>
			</li>
		</a>
	</ul>
</div>
