*::-webkit-scrollbar {
	display: none;
}

.add-task-container {
	height: calc(100vh - 290px);
	overflow-y: scroll;
	padding-bottom: 24px;
}

.add-task-top,
.add-task-bottom {
	display: flex;
	gap: 10px;

	flex-direction: column;
}

.add-task-bottom {
	position: relative;
}

.main-content-inner-container {
	width: 100vw !important;
}

.invalid-feedback {
	display: block;
	opacity: 0;
}

label {
	margin-bottom: 8px;
}

.outer-input-btn-container {
	position: relative;
}

/* Select Category */

#new-category-input {
	outline: unset !important;
	height: fit-content;
	border: none !important;
	padding: none !important;
}

#new-category-input::placeholder {
	color: rgb(108, 117, 125) !important;
}

#new-category-input:focus {
	outline: transparent !important;
}

.input-category {
	display: flex;
	align-items: center;
	height: 38px;
}

.category-color-container {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-left: 4px;
}

.dropdown-toggle::after {
	opacity: 0;
}

.cancel-confirm-category {
	display: flex;
}

.category-box {
	cursor: pointer !important;
}

.category-badge-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.category-badge {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 2px solid #ffffff;
}

.color-options-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 143px;
	margin-left: 14px;
	margin-top: -10px;
}

.color-options {
	display: flex;
	height: 12px;
	width: 12px !important;
	padding: unset;
	border-radius: 50%;
	border: 2px solid #ffffff !important;
	flex: unset !important;
}

/* Assigned To  */

.assign-input::placeholder {
	color: black !important;
}

.initials-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	border: 1px solid white;
}

.taskforce-badge-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	max-width: 422px;
	padding: 0px !important;
}

.form-control:disabled,
.form-control[readonly] {
	background-color: white;
	opacity: 1;
}

.drop-down-list {
	position: unset;
	padding: unset !important;
	background-color: white;
	border-radius: 0 0 10px 10px !important;
	border-top: unset;
	max-height: 116px;
	max-width: 100vw;
	overflow-y: scroll;
}

.category-box,
.coworker-checkbox-container {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: space-between;
	padding: 10px 16px;
	cursor: pointer;
}

.category-box:hover {
	background-color: var(--grey-line-grey);
}

.checkbox {
	cursor: pointer;
}

.prio-btns-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.prio-btn {
	min-width: 120px;
}

.btn-outline-secondary {
	color: black;
	background-color: white;
}

#select-urgent svg {
	color: #ff3d00;
}
#select-medium svg {
	color: #ffa800;
}
#select-low svg {
	color: #7ae229;
}

#select-urgent:active,
#select-urgent:hover {
	background-color: #ff3d00 !important;
}
#select-medium:active,
#select-medium:hover {
	background-color: #ffa800 !important;
}
#select-low:active,
#select-low:hover {
	background-color: #7ae229 !important;
}

#select-urgent:hover .urgent-svg,
#select-medium:hover .medium-svg,
#select-low:hover .low-svg {
	color: white !important;
}

.even-width {
	flex-basis: 100%;
}

.margin-unset {
	margin: unset;
}

.input-container {
	position: relative;
}

.input-btn-container {
	position: absolute;
	top: 0;
	right: 12px;
	margin: auto;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inner-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

/* SubTasks */

.subtask-delete-img {
	cursor: pointer;
	height: 20px;
	width: 20px;
}

.add-subtaks-plus {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.cancel-confirm-subtask {
	display: none;
}

.vertical-divider {
	border-left: 1px solid var(--grey-line-grey);
	margin: 0 10px;
}

.subtask-container {
	padding-top: 10px;
}

.checkbox-task-container {
	display: flex;
	align-items: center;
	gap: 10px;
}

.coworker-checkbox-container:hover {
	background-color: var(--grey-line-grey);
}

.form-check-input {
	border-radius: 3px !important;
	color: black !important;
	outline: transparent;
}

.input-toggle {
	border-bottom: unset !important;
	border-radius: 10px 10px 0 0 !important;
}

.addtask-add-task-bottom__button-container {
	position: absolute;
	bottom: 170px;
	right: 0;
	display: flex;
	justify-content: space-between;
	width: fit-content;
	gap: 25px;
}

.clear-button {
	border: 2px solid #2a3647 !important;
	border-radius: 10px;
	background-color: unset !important;
}

.bc-none {
	background-color: unset !important;
}

.clear-button:hover {
	border: 2px solid #29abe2 !important;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
	background-color: unset !important;
}

.clear-button:hover span {
	color: #29abe2 !important;
}

.clear-button span {
	color: black;
	font-weight: normal !important;
}

.clear-button:active span {
	color: white !important;
}

.clear-button:hover .cancel-task-svg path {
	stroke: #29abe2;
}

.clear-button:active .cancel-task-svg path {
	stroke: white;
}

@media screen and (min-width: 480px) {
	.prio-btns-container {
		flex-direction: unset;
	}

	.prio-btn {
		min-width: unset;
	}

	.taskforce-badge-container {
		max-width: 100%;
	}
}

@media screen and (min-width: 801px) {
	.prio-btn,
	.input-category,
	input {
		height: 51px;
	}
}

@media screen and (min-width: 1025px) {
	.main-content-inner-container {
		padding: 80px 100px;
	}

	.add-task-container {
		display: flex;
		justify-content: space-between;
		width: 844px;
	}

	.add-task-top,
	.add-task-bottom {
		height: 696px;
		gap: 14px;
		width: 422px !important;
	}

	.add-task-bottom {
		margin-left: 60px;
	}

	.add-task-top {
		margin-right: 60px;
	}

	.add-task-bottom::before {
		content: '';
		height: 444px;
		width: 1px;
		background-color: var(--grey-line-grey);
		position: absolute;
		margin-left: -60px;
	}
}
