:root {
	--dark-blue: #2a3647 !important;
	--light-blue: #29abe2 !important;
	--background-grey: #f5f5f5 !important;
	--btn-active-blue: #091931 !important;
	--font-grey: #cdcdcd !important;
	--horizontal-line-grey: #d1d1d1 !important;
}
