.card {
	position: relative;
	width: 100vw !important;
	border-radius: unset;
	border: unset;
}

.main-content-outer-container {
	display: flex;
}

.contacts-overlay-card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 500px;
	height: 100%;
	max-height: 600px;
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	border-radius: 30px;
}

.btn-close {
	position: absolute;
	top: 24px;
	right: 24px;
}

.card-body {
	display: flex;
	justify-content: center;
}

.outer-heading-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 47px;
	font-weight: 700;
	color: white;
}

.subtitle-newContactCard {
	color: white;
	font-size: 21px;
}

.dark-blue {
	background-color: var(--dark-blue);
}

/* Contact Card Lower Part */

.card-body-bottom {
	padding: 60px 27px;
}

.form-group-btn-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.input-field-container-new-contact-card {
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Contacts Page */

.new-contact-button-container {
	height: 79px;
	width: 100vw;
	background-color: white;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 17px 10px;
}

.btn-name {
	font-family: 'Inter';
	font-weight: 700;
	font-size: 21px;
}

/* Contacts in contact list */

.contact-list-inner-container {
	height: calc(100vh - 247px);
	padding-left: 16px;
	background-color: white;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.contact-list-inner-container {
	scrollbar-width: auto;
	scrollbar-color: #a8a8a8 #ffffff;
}

/* Chrome, Edge, and Safari */
.contact-list-inner-container::-webkit-scrollbar {
	width: 16px !important;
}

.contact-list-inner-container::-webkit-scrollbar-track {
	background: #ffffff;
}

.contact-list-inner-container::-webkit-scrollbar-thumb {
	background-color: #a8a8a8;
	border-radius: 10px;
	border: 3px solid #ffffff;
}

.card-contact-list {
	justify-content: center;
	cursor: pointer;
	height: 90px !important;
}

.card-contact-list:hover,
.card-contact-list:hover .user-name {
	color: white;
	background-color: var(--dark-blue);
}

.letters {
	padding: 16px;
	border-bottom: 1px solid var(--horizontal-line-grey);
}

.initials-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	border: 1px solid white;
}

.right-body-contact-card {
	padding: 15px 0 15px 24px;
}

.user-name {
	font-size: 1.25rem;
	height: fit-content;
	width: fit-content;
}

.user-initials {
	color: white;
}

.email {
	color: var(--font-blue);
	width: 100%;
}

/* Display Contact Section  */
.display-contact-details-section {
	display: none;
	/* background-color: red; */
	height: 100%;
	width: 100%;
}

.wrapper-details {
	display: flex;
	flex-direction: column;
	flex-direction: flex-start;
	gap: 20px;
}

.container-bagdge-name-add-task {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
}

.initals-in-details-section {
	width: 80px;
	height: 80px;
}

.details-name {
	font-size: 2.25rem;
	font-weight: 500px;
}

.add-Task-in-contacts {
	color: var(--font-blue);
	cursor: pointer;
}

.contact-information-section {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.wrapper-upper-part-contact-information {
	display: flex;
	align-items: center;
	gap: 20px;
}

.contact-information-text {
	margin: unset;
}

.wrapper-lower-part-contact-information {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 128px;
}

.email-phone-details {
	display: flex;
	flex-direction: column;
}

.email-phone-details-text {
	font-size: 1rem;
	font-weight: bold;
}

.email-details {
	color: var(--font-blue);
}

.phone-details,
.email-details {
	cursor: pointer;
}

@media screen and (min-width: 480px) {
	.new-contact-button-container {
		background-color: var(--background-grey);
	}

	.card {
		width: 360px !important;
	}

	.card-contact-list {
		height: unset;
	}

	.card-contact-list:hover,
	.card-contact-list:hover .user-name {
		border-radius: 0.75rem;
	}
}

@media screen and (min-width: 768px) {
	.contact-list-inner-container {
		height: calc(100vh - 170px);
	}
}

@media (min-width: 1025px) {
	.new-contact-button-container {
		display: none;
	}

	.contact-list-inner-container {
		/* 	position: absolute; */

		min-width: 353px !important;
		width: 353px;
	}

	.contact-list-inner-container {
		height: calc(100vh - 90px);
	}

	/* Details Contact Section */
	.display-contact-details-section {
		display: block;
		padding: 80px 0 0 60px;
	}

	.wrapper-details {
		gap: 54px;
	}

	.container-bagdge-name-add-task {
		gap: 54px;
	}

	.details-name {
		font-size: 2rem;
	}

	.user-initials-details {
		font-size: 2rem;
	}
}

@media (min-width: 1281px) {
	/* hi-res laptops and desktops */
}
