.card {
	position: relative;
	width: 100vw !important;
	border-radius: unset;
	border: unset;
}

.main-content-outer-container {
	display: flex;
}

.contacts-overlay-card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 500px;
	height: 100%;
	max-height: 600px;
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	border-radius: 30px;
}

.btn-close {
	position: absolute;
	top: 24px;
	right: 24px;
}

.card-body {
	display: flex;
	justify-content: center;
}

.outer-heading-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 47px;
	font-weight: 700;
	color: white;
}

.subtitle-newContactCard {
	color: white;
	font-size: 21px;
}

.dark-blue {
	background-color: var(--dark-blue);
}

/* Contact Card Lower Part */

.card-body-bottom {
	padding: 60px 27px;
}

.form-group-btn-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.input-field-container-new-contact-card {
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Contacts Page */

.new-contact-button-container {
	height: 79px;
	width: 100vw;
	background-color: white;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 17px 10px;
}

.btn-name {
	font-family: 'Inter';
	font-weight: 700;
	font-size: 21px;
}

/* Contacts in contact list */

.overlay-details {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
}

.contact-list-inner-container {
	height: calc(100vh - 247px);
	padding: 0 16px;
	background-color: white;
	overflow-y: scroll;
	overflow-x: hidden;
}

.back-to-contact-list {
	position: absolute;
	right: 34px;
}

.card-contact-list {
	justify-content: center;
	cursor: pointer;
	height: 90px !important;
}

.card-contact-list:hover,
.card-contact-list:hover .user-name {
	color: white;
	background-color: var(--dark-blue);
}

.letters {
	padding: 16px;
	border-bottom: 1px solid var(--grey-line-grey);
}

.initials-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	border: 1px solid white;
}

.right-body-contact-card {
	padding: 15px 0 15px 24px;
}

.user-name {
	font-size: 1.25rem;
	height: fit-content;
	width: fit-content;
}

.user-initials {
	color: white;
}

.email {
	color: var(--font-blue);
	width: 100%;
}

/* Display Contact Section  */
.display-contact-details-section {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	padding: 34px 16px;
	background-color: var(--background-grey);
}

.wrapper-details {
	display: flex;
	flex-direction: column;
	flex-direction: flex-start;
	gap: 20px;
}

.container-bagdge-name-add-task {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
}

.initals-in-details-section {
	width: 60px;
	height: 60px;
}

.details-name {
	font-size: 1.2rem;
	font-weight: 500px;
}

.add-Task-in-contacts {
	color: var(--font-blue);
	cursor: pointer;
}

.contact-information-section {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.wrapper-upper-part-contact-information {
	display: flex;
	align-items: center;
	gap: 20px;
}

.contact-information-text {
	margin: unset;
}

.wrapper-lower-part-contact-information {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 128px;
}

.email-phone-details {
	display: flex;
	flex-direction: column;
}

.email-phone-details-text {
	font-size: 1rem;
	font-weight: bold;
}

.email-details {
	color: var(--font-blue);
}

.phone-details,
.email-details {
	width: fit-content;
	cursor: pointer;
}

@media screen and (min-width: 480px) {
	.initals-in-details-section {
		width: 80px;
		height: 80px;
	}

	.user-initials-details {
		font-size: 2rem;
	}

	.details-name {
		font-size: 1.5rem;
	}
	.new-contact-button-container {
		background-color: var(--background-grey);
	}

	.card {
		max-width: 320px;
	}

	.card-contact-list {
		height: unset;
	}

	.card-contact-list:hover,
	.card-contact-list:hover .user-name {
		border-radius: 0.75rem;
	}
}

@media screen and (min-width: 575px) {
	.display-contact-details-section {
		position: absolute;
		top: 30px;
		left: 0;
		right: 0;
		bottom: 30px;
		width: 540px;
		padding: 34px 34px;
		background-color: white;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
		border-radius: 30px;
		z-index: 1;
	}
}

@media screen and (min-width: 768px) {
	.contact-list-inner-container {
		height: calc(100vh - 170px);
	}
}

/* !HILFE */
@media (min-width: 801px) {
	.main-content-outer-container {
		flex-direction: row;
		align-items: unset;
	}

	.back-to-contact-list {
		display: none;
	}

	.new-contact-button-container {
		position: absolute;
		right: 34px;
		bottom: 34px;
		width: fit-content;
		z-index: 1000;
	}

	.contact-list-inner-container {
		/* 	position: absolute; */

		min-width: 353px !important;
		width: 353px;
	}

	.contact-list-inner-container {
		height: calc(100vh - 90px);
	}

	/* Details Contact Section */
	.display-contact-details-section {
		display: block;
		padding: 80px 0 0 60px;
	}

	.wrapper-details {
		gap: 54px;
	}

	.container-bagdge-name-add-task {
		gap: 54px;
	}

	.details-name {
		font-size: 2rem;
	}

	.user-initials-details {
		font-size: 2rem;
	}

	.overlay-details {
		display: block !important;
		position: unset;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 100;
	}

	.display-contact-details-section {
		position: unset;
		top: 30px;
		left: 0;
		right: 0;
		bottom: 30px;
		width: 100%;
		height: 100%;
		padding: 34px 34px;
		background-color: var(--background-grey);
		box-shadow: unset;
		border-radius: unset;
		z-index: unset;
	}
}

@media (min-width: 1281px) {
	/* hi-res laptops and desktops */
}
