.add-task-container {
	height: calc(100vh - 259px);
	background-color: inherit;
	padding-top: unset;
	padding-bottom: unset;
	border-radius: 30px;
	width: 100%;
	margin-bottom: unset;
	border-radius: 0;
}

@media screen and (min-width: 480px) {
	.overlay {
		top: 0px;
	}
}

/* @media screen and (min-width: 769px) {
	.overlay {
		top: 60px;
	}
} */

@media screen and (min-width: 1025px) {
	.add-task-container-edit-task {
		display: flex;
		flex-direction: column;
	}

	.add-task-bottom-edit-task {
		margin-left: unset;
	}

	.add-task-top-edit-task,
	.add-task-bottom-edit-task {
		gap: 14px;
		width: 100% !important;
	}
}
