body {
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	height: 100vh;
	max-height: 100vh;
	width: 100%;
	color: black;
	font-family: 'inter';
	line-height: normal !important;
	scroll-behavior: smooth;
}

*::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: unset !important;
	color: unset;
}

a:hover {
	color: unset;
}

.selector-for-some-widget {
	box-sizing: content-box;
}

.back-to-summary {
	width: 24px;
	height: 24px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;

	margin: auto;
	cursor: pointer;
}

@media screen and (min-width: 480px) {
	.back-to-summary {
		right: 32px;
	}
}

@media screen and (min-width: 1350px) {
	.back-to-summary {
		display: none;
	}
}
