.forgot-password-container {
	position: relative;
	width: 300px;
	overflow: hidden;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.reset-password-message {
	position: absolute;
	bottom: -100px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 280px;
	transform: translateY(210px);
}

.show-message {
	transform: translateY(0) !important;
	transition: transform 0.3s ease-in-out;
}
